@charset "utf-8";



h1{
    font-family: Georgia;
    font-size: 50px;
    text-align: center;
}
h2{
    font-family: Georgia;
    font-size :20px;
    text-align: center;
}
h3{
    font-family: Arial;
    font-size: 15px;
    text-align: right;
}

p{
   font-family: 'Jua', sans-serif;
    font-size: 20px;
    text-align: center;
}
.p1{
    text-align: left;
}

img.left{
    float: left;
}


/* WRAPPER */
.wrap-slider {width:100%;height:586px;margin:0 auto;}


    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}



.footer {
	padding: 10px 0;
	background-color:#030;
	color:#fff;
	text-align:center;
    clear: both;
}

body {margin:25px;}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}


footer {
	padding: 10px 0;
	background-color:#030;
	color:#fff;
	text-align:center;
    clear: both;
}
